@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

.cards__wrapper {
  padding-top: 97px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-item, .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-text {
  height: 32px;
}

.card-item {
  margin-right: 20px;
}

.cards__row:last-child {
  margin-right: 0;
}

.card-content {
  width: 249px;
  padding-bottom: 30px;
}
.cards__title {
  font-family: Poppins sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #383838;
  text-transform: uppercase;
}

.cards__title::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 13px;
  background-image: url('../../../assets/icons/bloom_left.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.cards__title::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 13px;
  background-image: url('../../../assets/icons/bloom_right.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10px;
}



.cards__link {
  font-family: Poppins sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #697586;
  margin-bottom: 30px;
}

.card-image img{
  width: 289px;
  height: 289px;
  margin-bottom: 30px;
}

.stars svg {
    fill: #DFE1E3;
}

.span-text, .card__grey-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #697586;
}

.card__grey-text {
  color: #697586;
  line-height: 22px;
  height: 43px;
}

.price {
  font-family: Poppins sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;

}


.btn-card {
  font-family: Poppins sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #383838;
  background-color: #FFFFFF;
  padding: 10px 84px;
  border-radius: 4px;
  border: 1px solid #252525;
}

.card-content {
  text-align: left;
}


.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(176, 166, 189, 0.6);
  position: relative;
  top: -80px;
}

.arrow svg {
  height: 19px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)

}

.arrow-left {
  left: 20px;
}


.arrow-right {
  left: -40px;
}
